.navigation {
            display: flex;
            font-size: 20px;
            gap: 10px;
            justify-content: space-around;
        }


.top {
            display: flex;
            left: 50px;
}

.logo_title {
            
            color: navy;
            letter-spacing: 15px;
            transform: translateY(-12.5px)
            
            
            
}
