.navigation {
            display: flex;
            font-size: 20px;
            gap: 10px;
            justify-content: space-around;
        }


.top {
            display: flex;
            justify-content: center;
}

.logo_title {
            
            color: navy;
            letter-spacing: 15px;
            
            
}
