.navigation {
            display: flex;
            font-size: 20px;
            gap: 10px;
            justify-content: space-around;
        }
.logo {
            display: flex;   
            letter-spacing: 15px;
            color: navy;
            align-content: center;
            
}
